html {
    height: 100%;
}

.main {
    height: 100%;
    display: flex;
    flex-direction: row;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    height: 30px;
    background-color: #fbefcc;
    padding: 5px;
}
button {
    width: 76px;
}
header {
    height: 22px;
    padding: 13px;
    background-color: #e6e2d3;
}
.painel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
iframe {
    height: 100%;
    padding: 5px 5px 5px 13px;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #111;
    padding-top: 47px;
}

a.active {
    background-color: white;
    color: black;
}

nav a {
    padding: 5px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}

nav a:hover {
    color: coral;
}
