.input {
    padding: 2px;
    font-size: 16px;
    border: 2px solid #8f8f8f;
    border-radius: 3px;
    background: transparent;
    text-transform: uppercase;
}

div.formRow {
    margin-top: 6px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

label {
    /*font-family: Geneva, Verdana, sans-serif;*/
    display: inline-block;
    /*font-size: 0.8em;*/

    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 500;
}

.input.possui-erro-validacao {
    border-color: #f73859;
}

.erro-validacao {
    margin-top: 3px;
    color: #f73859;
    font-size: 14px;
}
