<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleSide.css">
    <title>Document</title>
</head>

<body>

    <div class="dialogOverlay">
        <div class="dialogBase">

            <div class="bodyTitlebar">
                Title bar
            </div>

            <div class="bodyWrapper">
                <div class="bodySidebar">
                    <h1>Side bar</h1>
                    <p>side bar</p>
                </div>

                <div class="bodyContent">
                    <h1>Body content Body content </h1>
                    <p>body content</p>
                    <h1>Body content</h1>
                    <p>body content</p>
                    <h1>Body content</h1>
                    <p>body content</p>
                    <h1>Body content</h1>
                    <p>body content</p>
                </div>

            </div>
        </div>
    </div>



</body>

</html>