<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="dialogPanel">
        <div class="dialogBase">

            <div class="bodyTitlebar">

                <div>
                    <input type="text" maxlength="50" size="50">
                    <select name="" id="">
                        <option value="01">Descrição</option>
                    </select>
                </div>
                <div>
                    <button>Localizar</button>
                    <button>Editar</button>
                </div>
            </div>

            <div class="bodyContent">

                <table id="table-search">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Descrição</th>
                            <th>Endereço</th>
                            <th>Cidade</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>0001</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA SEM SAÍDA, 750</td>
                            <td>SÃO PAULO</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>0001</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                        <tr>
                            <td>003.FR.001+FDAS</td>
                            <td>ARROZ INTEGRAL SEM TITUTLO</td>
                            <td>RUA DA DESEMBARGADORA SENHORITA DA SOUZA BASTOS VIDIGAL, 750</td>
                            <td>SÃO JOAO DO ITAPETININGA DA NOVA GRAÇA DA PROCUR DO SUB FDAS FDAS FDAS FD</td>
                            <td>SP</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>