	<!DOCTYPE html>
	<html>

	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>

	<body>
		<form action="">
			<input type="hidden" name="sk" />
			<fieldset>
				Nome:<input type="text" name="nome" /><br> CNPJ:<input type="text" name="cnpj" /><br> 
				Insc. Est.<input type="text" name="ie" /><br> 
				UF: <select>
					<option value="SP">SãO PAULO</option>
					<option value="RJ">RIO DE JANEIRO</option>
				</select><br>
				Muncípio: <select>
					<option value="1234567">São Paulo</option>
				</select><br> 
				Versão Leiaute: <input type="text" name="cod_ver" /><br>
				Finalidade: <select class="selFinalidade">
				</select><br>
				<br>
			</fieldset>
			<button type="submit">Gravar</button>

		</form>

		<script src="js/contribuinte.js"></script>
	</body>


	</html>