<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>
<a href="/ressubt/control?action=Logout">Sair</a>

<body>
	<form action="">
		<fieldset>
			<input type="hidden" name="sk" value="" />
			Nome:<input type="text" name="nome" /><br>
			CNPJ:<input type="text" name="cnpj" /><br>
			Insc. Est.:<input type="text" name="ie" /><br>
			UF:<select name="uf"></select><br>
			Município:<select name="cod_mun"></select><br>
			Versão Leiaute:<input type="text" name="cod_ver" /><br>
			Finalidade:<select name="cod_fin"></select><br>
			<br>
		</fieldset>
		<button type="submit">Gravar</button>

	</form>

	<script type="module" src="js/contribuinte/script.js"></script>
</body>


</html>