<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/finalidade/style.css">
</head>

<body>
	<form data-formName="Finalidade">

		<div class="formRow">
			<label for="codigo">Código</label><input data-tipo="codigoFinalidade" class="input" data-tipo="codigo" name="codigo" id="codigo" type="text" maxlength="2" size="2" data-setfocus="true" minlength="1" required />
		</div>
		<div class="formRow">
			<label for="descricao">Descrição</label><input data-tipo="descricao" class="input" name="descricao" id="descricao" type="text" maxlength="120" size="100" required minlength="1" />
		</div>

	</form>


	<script type="module" src="js/finalidade/script.js"></script>
</body>

</html>