<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/finalidade/style.css">
</head>

<body>
	<form data-formName="Finalidade">

		<div class="formRow">
			<label for="codigo">Código</label><input name="codigo" id="codigo" type="text" maxlength="2" size="2" />
		</div>
		<div class="formRow">
			<label for="descricao">Descrição</label><input name="descricao" id="descricao" type="text" maxlength="120" size="100" />
		</div>
	</form>
	<script type="module" src="js/finalidade/script.js"></script>
</body>

</html>