<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/index/style.css">
</head>

<body>
	<div class="main">
		<nav>
			<a data-form-index="0" href="#">Contribuinte</a>
			<a data-form-index="1" href="#">Finalidade</a>
			<a data-form-index="2" href="#">Participante</a>
			<a data-form-index="3" href="#">Produto</a>
			<a href="/ressubt/control?action=Logout">Sair</a>
		</nav>
		<div class="operation">
			<header>
				<button id="novo" class="buttonHeader">Novo</button>
				<button id="gravar" class="buttonHeader" disabled>Gravar</button>
				<button id="cancelar" class="buttonHeader" disabled>Cancelar</button>
				<button id="pesquisar" class="buttonHeader">Pesquisar</button>
			</header>
			<iframe></iframe>
		</div>
	</div>

	<div class="modal" id="modalMessage">
		<div class="modalContent">
			<div>
				<div class="closeModal">
					<span class="buttonClose close">×</span>
				</div>
				<div class="text-cadastro-message" id="messageUser"></div>
			</div>
			<div class="footer-modal">
				<span class="btnOk close">Ok</span>
			</div>
		</div>
	</div>

	<div class="modal" id="modalOkCancel">
		<div class="modalContent">
			<div>
				<div class="closeModal">
					<span class="buttonClose close">×</span>
				</div>
				<div class="text-cadastro-message">Gravar registro?</div>
			</div>
			<div class="footer-modal">
				<span id="gravarRegistro" class="btnOk">Ok</span>
				<span class="btnCancelar close">Cancelar</span>
			</div>
		</div>
	</div>


	<div class="modal" id="modalSearch">
		<div class="modalContent">
			<div class="closeModal">
				<span class="buttonClose close">×</span>
			</div>
			<div class="header-cadastro-message">
				<div class="formRow">
					<input type="text" size="40" class="input">
					<select name="" id="" class="input">
						<option value="">Descrição</option>
					</select>
					<select name="" id="" class="input">
						<option value="asc">Crescente</option>
						<option value="desc">Decrescente</option>
					</select>
				</div>
				<div class="formRow">
					<button id="btnPesquisar">Pesquisar</button>
					<button id="btnEditar">Editar</button>
				</div>

				<div class="formRow">
					<table>
						<thead>
							<th>
								Codigo
							</th>
							<th>
								Descrição
							</th>
						</thead>
						<tbody>
							<tr>
								<td>00001</td>
								<td>Rua Sem Saída</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<label>Empresa</label>
		<label>Nome da Empresa</label>
	</footer>
	<script type="module" src="js/index/script.js"></script>
</body>

</html>