<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/participante/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
</head>

<body>
    <form data-formName="Participante">
        <input type="hidden" name="sk" id="sk">
        <input type="hidden" name="contribuinte" id="contribuinte" value="1">
        <div class="formRow">
            <label for="nome">Nome</label><input class="input" type="text" data-tipo="nome" name="nome" id="nome" maxlength="100" size="100" data-setfocus="true" required>
        </div>
        <div class="formRow">
            <label for="cod_pais">País</label><select class="input" name="cod_pais" id="cod_pais"></select>
        </div>
        <div class="formRow">
            <label for="tipodepessoa">Tipo de Pessoa</label><select class="input" name="tipodepessoa" id="tipodepessoa">
                <option value="1">Física</option>
                <option value="2">Jurídica</option>
            </select>

        </div>
        <div class="formRow">
            <label for="cnpj_cpf">CNPJ/CPF</label><input class="input" data-tipo="cnpjcpf" type="text" name="cnpj_cpf" id="cnpj_cpf" maxlength="18" size="18" required>
        </div>
        <div class="formRow">
            <label for="ie">Insc. Est.</label><input class="input" data-tipo="inscricaoestadual" type="text" name="ie" id="ie" maxlength="14" size="14" required>
        </div>
        <div class="formRow">
            <label for="uf">UF</label><select class="input" name="uf" id="uf"></select>
        </div>

        <div class="formRow">
            <label for="cod_mun">Município</label><select class="input" name="cod_mun" id="cod_mun"></select>
        </div>
    </form>
    <script type="module" src="js/participante/script.js"></script>
</body>

</html>