<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/pesquisa/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <input type="text" name="parametro" id="parametro" maxlength="30" size="30" autofocus="autofocus" />
        <button>Pesquisar</button>
        <select name="opcao" id="opcao">
            <option value="">descrição</option>
        </select>
    </header>
    <section>
        <table>
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Descrição</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>"0001"</td>
                    <td>Ovo de páscoa</td>
                </tr>
            </tbody>


        </table>

    </section>

    <script type="module" src="js/pesquisa/script.js"></script>
</body>


</html>