<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/produto/style.css">
    <title>Document</title>
</head>

<body>
    <form data-formName="Produto">
        <input type="hidden" name="sk" id="sk" value="">
        <input type="hidden" name="contribuinte" id="contribuinte" value="1">


        <div class="formRow">
            <label for="cod_item">Código</label><input type="text" name="cod_item" id="cod_item" maxlength="60" size="60">
        </div>
        <div class="formRow">
            <label for="descr_item">Descrição</label><input type="text" name="descr_item" id="descr_item" maxlength="200" size="100">
        </div>

        <div class="formRow">
            <label for="cod_barra">Código de Barras</label><input type="text" name="cod_barra" id="cod_barra" maxlength="60" size="60">
        </div>

        <div class="formRow">
            <label for="unid_inv">Unidade</label><input type="text" name="unid_inv" id="unid_inv" maxlength="6" size="6">
        </div>
        <div class="formRow">
            <label for="cod_ncm">NCM</label><input type="text" name="cod_ncm" id="cod_ncm" maxlength="8" size="8">
        </div>

        <div class="formRow">
            <label for="aliq_icms">Alíq. ICMS</label><input type="text" name="aliq_icms" id="aliq_icms" maxlength="9" size="9">
        </div>
        <div class="formRow">
            <label for="cest">CEST</label><input type="text" name="cest" id="cest" maxlength="7" size="7">
        </div>

    </form>

    <script type="module" src="js/produto/script.js"></script>
</body>

</html>