
label{
	display:inline-block;
	font-size: 0.9em;
	font-weight: bold;
	width:45px;
}
p{
	margin-top:6px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
input, textarea, select {
	border: 1px solid #CCC;
	box-shadow: inset 2px 2px 2px #EEE;
	font-size: 0.9em;
	padding: 2px 5px;
}