@import "../controle/style.css";
.modalMessage,
.modalConfirm,
.modalPesquisa {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.pesquisaDialog {
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
}

.messageDialog {
    left: 30%;
    right: 30%;
    top: 30%;
}

.messageDialog,
.pesquisaDialog {
    position: absolute;
    /*    right: 8px;*/
    /*top: 8px;*/
    border-radius: 8px;
    z-index: 100;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 9px 10px rgba(0, 0, 0, 0.08);
}

.text-cadastro-message {
    padding: 30px 25px 25px 25px;
    font-size: 14px;
    line-height: 1.75;
}

.body-cadastro-message .closeModal {
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 22px;
    font-weight: 300;
    color: #2c3135;
    opacity: 0.7;
}

.footer-cadastro-message {
    padding: 20px;
}
.header-cadastro-message {
    padding: 15px;
}
.footer-cadastro-message,
.header-cadastro-message {
    background: #f6f6f6;
    border-radius: 0px 0px 4px 4px;
}

/*.footer-cadastro-message a {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
}
*/
.btnOk,
.btnCancelar,
.btnPesquisar,
.btnEditar {
    cursor: pointer;

    padding-top: 12px;
    padding-right: 33px;
    padding-bottom: 12px;
    padding-left: 33px;
}

.btnOk,
.btnPesquisar {
    background: #49afd0;
    color: #f6f6f6;
}

.btnCancelar,
.btnEditar {
    background: #c3e1eb;
    color: #333333;
    margin-left: 20px;
}

@media (max-width: 768px) {
    .redirectedMessage {
        right: 10px;
        top: 6px;
        left: 10px;
    }

    .body-cadastro-message {
        padding: 12px 20px;
        line-height: 2;
    }
}

button.closeModal {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.closeModal {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.2;
}
.closeMessage,
.closePesquisa {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeMessage:hover,
.closeMessage:focus,
.closePesquisa:hover,
.closePesquisa:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#btnPesquisar,
#btnEditar {
    margin: 2px;
}
