@import "../controle/style.css";

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalContent {
    position: absolute;
    /*    right: 8px;*/
    /*top: 8px;*/
    border-radius: 8px;
    z-index: 100;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 0px 9px 10px rgba(0, 0, 0, 0.08);
}
#modalOkCancel .modalContent,
#modalMessage .modalContent {
    left: 30%;
    right: 30%;
    top: 30%;
}

.text-cadastro-message {
    padding: 30px 25px 25px 25px;
    font-size: 14px;
    line-height: 1.75;
}

.footer-modal {
    padding: 20px;
}
.header-cadastro-message {
    padding: 15px;
}
.footer-modal {
    background: #f6f6f6;
    border-radius: 0px 0px 4px 4px;
}

.closeModal {
    position: absolute;
    top: 6px;
    right: 14px;
    font-size: 22px;
    font-weight: 300;
    color: #2c3135;
    opacity: 0.7;
}
.buttonClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.buttonClose:hover,
.buttonClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#modalSearch .modalContent {
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
}
